/*descendant selector*/
/*.c1 .heading1{
    background-color: aqua;
}*/

/*child selector*/
/*.c1>.para1{
    background-color: brown;
}*/
/*adjacent sibling */
p~p{
    background-color: brown;
}
/*general sibling */
/*div~p{
    background-color: brown;
}*/
