body{
    margin-left:20px;
    margin-right:20px;
}
.intro{
    color:brown;
    
   
}
a{
    text-decoration: none;
}
button{
    border-style:dashed;
    /*padding-left:25px;
    padding-right:25px;
    padding-top: 10px;
    padding-bottom: 10px;*/
    padding: 20px ;
    background-color: coral;
    color:brown;
    font-family: 'Pacifico', cursive;
    margin-right: 40px;
    margin-left:40px;
    border-radius: 10px;
}
h1{
    font-family: 'Pacifico', cursive;
    border:5px groove brown;
    padding-left: 525px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom: 10px;
    margin:20px 30px 40px 45px;
    

}
.demo1{
    font-style:oblique;
    text-align:start;
    text-indent: 20px;
   word-spacing: 5px;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 32px;
}
.demo2{
    font-style: italic;
}

img{
    width: 30%;
    height: 70%;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    float:right;
 
   
}
.content{
    float: right;
    
}

h3{
    display: inline;
    
}
#he1{

}
#he2{
    margin-left:350px;
}


