.container{
    display: grid;
    border-style: dotted;
    grid-template-columns:repeat(4,1fr);

    /* px % fr repeat(n,[fr,px,%])*/
   /* grid-column-gap: 15px;
    grid-row-gap: 10px;*/
    grid-gap:15px 2px;
   
}
h3{
    text-align: center;
}
.c1,.c2,.c3,.c4{
    border-style: groove ;
}
.c1{
    background-color: saddlebrown;
}
.c2{
    background-color: coral;
}
.c3{
    background-color:darkgray;
}
.c4{
    background-color:darkslategrey;
}
.c5{

    border-style: dotted;
}
.c6{
    border-style: double;
    grid-column-start: 2;
    grid-column-end:5;
}

