.class1{
    background-color:#7156a3;
}
#id1{
    background-color: darkgreen;
}
.class2{
    color: darkred;
}
#id2{
    color: ivory;
}
h1,h5{
    background-color: lawngreen;
}
h6{
    background-color: lightcoral;
}
*{
    background-color: lightgreen;
}
